---
layout: default
---

<div class="posts">

    {% for post in site.posts %}
    {% unless post.draft %}
    {% unless post.redirect %}
    <article class="container__block -narrow">
        <h1 class="post-link-heading"><a href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.title }}</span></a></h1>

        {% assign author = site.authors[post.author] %}
        <div class="footnote post-date">
            {{ post.date | date: "%B %e, %Y" }}
            {% if author.name %} by {{ author.name }}{% endif %}
        </div>

        <div class="entry">
            {% if post.thumbnail %}
            <img src="{{ post.thumbnail }}" >
            {% endif %}
            {{ post.content | split:"<!--more-->" | first }}
            <p class="footnote"><a href="{{ site.baseurl }}{{ post.url }}" class="secondary">Read More&hellip;</a></p>
        </div>
    </article>
    {% endunless %}
    {% endunless %}
    {% endfor %}

    {% include cta.html %}
</div>