<div class="container__block -narrow">
    <div class="cta">
        <div class="wrapper">
            <form class="email-signup" action="//dosomething.us4.list-manage.com/subscribe/post?u={{ site.mailchimp.user-id }}&amp;id={{ site.mailchimp.list-id }}" method="post" novalidate>
                <div class="form-item">
                    <input type="email" class="text-field email" placeholder="Your Email"value="" name="EMAIL">
                </div>

                <!-- bot signup protection - real people won't fill this in -->
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_{{ site.mailchimp.user-id }}_{{ site.mailchimp.list-id }}" tabindex="-1" value=""></div>

                <input type="submit" value="Get our latest posts" name="subscribe" class="button">
                <p class="footnote">Only nerdy stuff. We'll never spam you.</p>
            </form>
        </div>
    </div>
</div>