<nav class="blog-navigation">
    <div class="wrapper">
        <ul class="waypoints -primary">
            <li {% if page.tag == "our-blog" %} class="is-active" {% endif %}><a href="{{ site.baseurl }}/tag/our-blog">Our Blog</a></li>
            <li {% if page.tag == "member-wins" %} class="is-active" {% endif %}><a href="{{ site.baseurl }}/tag/member-wins">Member Wins</a></li>
            <li {% if page.tag == "press" %} class="is-active" {% endif %}><a href="{{ site.baseurl }}/tag/press">Press</a></li>
        </ul>
    </div>
</nav>
