---
layout: content
---

{% for data_tag in site.data.tags %}
    {% if data_tag.slug == page.tag %}
        {% assign tag = data_tag %}
    {% endif %}
{% endfor %}

<header {% if tag.background %} class="header header--blog with-gradient" style="background-image: url('{{ site.baseurl }}/backgrounds/{{ page.tag.background }}');" {% else %} class="header header--blog" {% endif %}>
    <div class="wrapper">
        <h1 class="header__title">{{ tag.name }}</h1>
        {% if tag.description %}
        <p class="header__subtitle">{{ tag.description }}</p>
        {% endif %}
    </div>
</header>

{% include navigation.html %}

<main role="main" class="container -padded">
    <div class="wrapper">
        <div class="container__block -narrow">
            <div id="post-content">
                {% if site.tags[page.tag] %}
                {% for post in site.tags[page.tag] %}
                {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% if forloop.first %}
                <h3>{{ post_year }}</h3>
                <ul class="post-link-list">
                    {% endif %}

                    {% if forloop.first == false %}
                    {% assign previous_index = forloop.index0 | minus: 1 %}
                    {% capture previous_post_year %}{{ site.tags[page.tag][previous_index].date | date: '%Y' }}{% endcapture %}
                    {% if post_year != previous_post_year %}
                </ul>
                <h3>{{ post_year }}</h3>
                <ul class="post-link-list">
                    {% endif %}
                    {% endif %}

                    <li>
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <span>{{ post.title }}</span>
                            {% if post.author %}
                            {% assign author = site.authors[post.author] %}
                            <em class="footnote">by {{ author.name }}</em>
                            {% endif %}
                        </a>
                    </li>

                    {% if forloop.last %}
                </ul>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>There are no posts for this tag.</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>