<!DOCTYPE html>
<html class="no-js">

<head>
    {% include meta.html %}

    <script type="text/javascript" src="http://forge.dosomething.org/dist/modernizr.js"></script>

    <link rel="stylesheet" href="http://forge.dosomething.org/dist/forge.css" media="screen, projection" type="text/css">
    <link rel="stylesheet" href="/blog.css" media="screen, projection" type="text/css">
</head>

<body>
<div class="chrome">
    <div class="wrapper">
        <nav class="navigation -white -floating">
            <a class="navigation__logo" href="/"><span>DoSomething.org</span></a>
            <div class="navigation__byline">
                You're reading <a href="/">{{ site.name }}</a>, the <a
                    href="https://www.dosomething.org">DoSomething.org</a> blog.
            </div>
        </nav>

        {{ content }}

        {% include cta.html %}
        {% include footer.html %}
    </div>
</div>

{% include analytics.html %}

</body>
</html>
