<!DOCTYPE html>
<html class="no-js">

<head>
    {% include meta.html %}

    <link rel="stylesheet" href="/ds-neue/neue.css" media="screen, projection" type="text/css">
    <link rel="stylesheet" href="/blog.css" media="screen, projection" type="text/css">
    <script type="text/javascript" src="/ds-neue/modernizr.js"></script>
</head>

<body>
<div class="chrome">
    <div class="wrapper">
        <nav class="navigation">
            <a class="navigation__logo" href="/"><span>DoSomething.org</span></a>
            <p class="navigation__intro">
                You're reading <a href="/" class="navigation__intro-primary">Tech For Good</a>, the <a href="https://www.dosomething.org">DoSomething.org</a> tech blog.
            </p>
        </nav>

        <main role="main" class="container -padded">
            <div class="wrapper">
                {{ content }}
            </div>
        </main>

        <footer class="container -padded blog-footer">
            <div class="wrapper">
                <div class="container__block -half">
                    <h3>Recent Posts</h3>
                    <ul>
                        {% for post in site.posts %}
                        {% unless post.draft %}
                        {% unless post.redirect %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}"><span>{{ post.title }}</span></a></li>
                        {% endunless %}
                        {% endunless %}
                        {% endfor %}
                    </ul>

                </div>

                <div class="container__block -half">
                    <h3>Job Openings</h3>
                    <ul>
                        <li><a href="#">Back-End Tech Lead</a></li>
                        <li><a href="#">Junior Software Engineer</a></li>
                    </ul>
                </div>

                <div class="container__block -narrow">
                    <div class="footnote">&copy; 2015 DoSomething.org.</div>
                </div>
            </div>

        </footer>
    </div>
</div>


{% include analytics.html %}

</body>
</html>