<!DOCTYPE html>
<html class="no-js">

<head>
    {% include meta.html %}

    <script type="text/javascript" src="http://forge.dosomething.org/dist/modernizr.js"></script>

    <link rel="stylesheet" href="http://forge.dosomething.org/dist/forge.css" media="screen, projection" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/blog.css" media="screen, projection" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/github.css" media="screen, projection" type="text/css">
</head>

<body>
<div class="chrome">
    <div class="wrapper">
        <nav class="navigation -white -floating">
            <a class="navigation__logo" href="/"><span>DoSomething.org</span></a>
            <div class="navigation__menu">
                <ul class="navigation__secondary">
                    <li>
                        <form action="https://www.google.com/search" method="get">
                            <input type="hidden" name="sitesearch" value="blog.dosomething.org">
                            <input type="search" name="q" class="text-field -search">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        {{ content }}

        {% include cta.html %}
        {% include footer.html %}

    </div>
</div>

{% include analytics.html %}

</body>
</html>