---
layout: content
---

{% assign author = site.authors[page.author] %}

<header {% if page.background %} class="header header--blog with-gradient" style="background-image: url('{{ site.baseurl }}/backgrounds/{{ page.background }}');" {% else %} class="header header--blog" {% endif %}>
    <div class="wrapper">
        <h1 class="header__title">{{ page.title }}</h1>
    </div>
</header>

<main role="main" class="container -padded">
    <div class="wrapper">
        <div class="container__block -narrow with-lists">
            {{ content }}
        </div>
    </div>
</main>

