---
layout: default
---

{% assign author = site.authors[page.author] %}

<div class="container__block -narrow with-lists">
    <article class="post">
        <h1 class="heading -hero">{{ page.title }}</h1>

        <div class="footnote post-date">
            {{ page.date | date: "%B %e, %Y" }}
            {% if author.name %} by {{ author.name }}{% endif %}
        </div>

        <div class="entry">
            {% if page.thumbnail %}
            <img class="alignright" src="{{ page.thumbnail }}" >
            {% endif %}

            {{ content }}
        </div>

        {% if author.github %}
        <div class="author figure -medium -left">
            <div class="figure__media">
              <img alt="{{ author.name }} avatar" src="https://avatars.githubusercontent.com/{{ author.github }}">
            </div>
            <div class="figure__body">
                <h3>About {{ author.name }}</h3>
                <p>{{ author.blurb }}</p>
                <p>You can follow him on: <a href="http://github.com/{{ author.github }}">GitHub</a>, <a href="http://twitter.com/{{ author.twitter }}">Twitter</a><p>
            </div>
        </div>
        {% endif %}

        {% include cta.html %}
    </article>
</div>
